

.timeline-heading {
	text-align: center;
}

.timeline-body > p {
	text-align: center;
}

.text-center > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section > ul {
	 margin: 20px auto;
	 border-radius: 15px;
	 padding: 15px;
}


